@(scripts: Html)(navigation: Html)(footer: Html)
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="author" content="Ivan Pogorelov, Duy Thai Nguyen">	
	<title>imgproc - Image Processing - Learn and try image processing online - About</title>
	<meta name="description" content="imgproc is online image processing tool. You can upload images, use different filters and have a look at the filters code or pseudocode.">
	<meta name="keywords" content="imgproc, image processing, bildverarbeitung, image filters, filter, teamproject, htwg konstanz">
	<meta name="viewport" content="width=device-width">
	<style>
	body {
		padding-top: 50px;

	}
	.row p {
	    font-size: 16px !important;
	    line-height: 22px !important; 
	}
	#footer {
		bottom: 0;
		position: absolute;
		width: 100%;
	}
	</style>
	@scripts
</head>
<body>
	@navigation
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<h2 id="aboutus">About Us</h2>
				<p>Imgproc is the result of a team project developed by Duy Thai Nguyen and Ivan Pogorelov under the guidance of 
					<a href="http://www.htwg-konstanz.de/Prof-Franz.5713.0.html">Prof. Dr. Matthias Franz</a> in the year 2013/2014 at <a href="http://www.htwg-konstanz.de/English.20.0.html">Hochschule Konstanz University of Applied Sciences (HTWG)</a>.<br><br>
					imgproc as web application was created using <a href="http://www.playframework.com/">Play Framework</a> for all the people, who are interesed in image processing courses.
					<br>
					The service is provided "as is" with no express or implied warranty for accuracy or accessibility. Use it on your risk and fun. If you want contact us, please use <a href="http://imgproc.herokuapp.com/contact">contact form</a>.
				</p>
			</div>
		</div>
	</div>
  
	@footer
</div> <!-- /container -->      
</body>
</html>
