@(scripts: Html)(navigation: Html)(footer: Html)
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<style>
	body {
		position: relative;
		padding-top: 50px;
	}
	.active {
		font-weight: bold;
	}
	#footer {
		margin-top: 20px;
	}
	.space {
		padding-top: 60px;
	}
	</style>
	@scripts
</head>
<body data-spy="scroll" data-offset="90" data-target=".bs-sidebar">
	@navigation
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="bs-sidebar">
					<ul class="nav bs-sidenav">
						<li class="active">
							<a id="docHisto" href="#histogram">Histogram</a> 
						</li>
						<li>
							<a id="docKumHisto" href="#kumhistogram">Cumulative histogram</a> 
						</li>
						<li>
							<a id="docGlaett" href="#glaettungsfilter">Smoothing filter</a> 
						</li>
						<li>
							<a id="docDiff" href="#differenzfilter">Difference filter</a> 
						</li>
						<li>
							<a id="docMin" href="#minimumfilter">Minimum filter</a> 
						</li>
						<li>
							<a id="docMax" href="#maximumfilter">Maximum filter</a> 
						</li>
						<li>
							<a id="docMed" href="#medianfilter">Median filter</a> 
						</li>
						<li>
							<a id="docGewMed" href="#gewmedianfilter">Weighted median filter</a> 
						</li>
						<li>
							<a id="docMorph" href="#morphologischerfilter">Morphological filter</a> 
						</li>
						<li>
							<a id="docRegion" href="#regionalabeling">Region labeling</a> 
						</li>
						<li>
							<a id="docHarri" href="#harrisdetektor">Harris Detector</a> 
						</li>
					</ul>
                    
				</div>
			</div>
			<div class="col-md-9" id="docu-content">
				<!-- Histogram -->
				<div id="histogram" class="space"></div>
				<div class="bs-docs-section">
					<h2>Histogram</h2>
					<p>
						Text about histogram
					</p>
					<div class="bs-example"><p>histogram example</p></div>
					<div class="highlight">
						<pre>
							<code class="html">
								histogram pseudocode
							</code>
						</pre>
					</div>
				</div>
				<!-- Kumulatives Histogram -->
				<div id="kumhistogram" class="space"></div>
				<div class="bs-docs-section">
					<h2>Cumulative histogram</h2>
					<p>
						Text about Cumulative histogram
					</p>
					<div class="bs-example"><p>Cumulative histogram example</p></div>
					<div class="highlight">
						<pre>
							<code class="html">
								Cumulative histogram pseudocode
							</code>
						</pre>
					</div>
				</div>
				<!-- Glättungsfilter = smoothing filter -->
				<div id="glaettungsfilter" class="space"></div>
				<div class="bs-docs-section">
					<h2>Smoothing filter</h2>
					<p>
						Text about smoothing filter
					</p>
					<div class="bs-example"><p>Smoothing filter example</p></div>
					<div class="highlight">
						<pre>
							<code class="html">
								Smoothing filter pseudocode
							</code>
						</pre>
					</div>
				</div>
				<!-- Differenzfilter  -->
				<div id="differenzfilter" class="space"></div>
				<div class="bs-docs-section">
					<h2>Difference filter</h2>
					<p>
						Text about difference filter
					</p>
					<div class="bs-example"><p>difference filter example</p></div>
					<div class="highlight">
						<pre>
							<code class="html">
								difference filter pseudocode
							</code>
						</pre>
					</div>
				</div>
				<!-- Minimumfilter  -->
				<div id="minimumfilter" class="space"></div>
				<div class="bs-docs-section">
					<h2>Minimum filter</h2>
					<p>
						Text about minimum filter
					</p>
					<div class="bs-example"><p>Minimum filter example</p></div>
					<div class="highlight">
						<pre>
							<code class="html">
								Minimum filter pseudocode
							</code>
						</pre>
					</div>
				</div>
				<!-- Maximumfilter  -->
				<div id="maximumfilter" class="space"></div>
				<div class="bs-docs-section">
					<h2>Maximum filter</h2>
					<p>
						Text about maximum filter
					</p>
					<div class="bs-example"><p>Maximum filter example</p></div>
					<div class="highlight">
						<pre>
							<code class="html">
								Maximum filter pseudocode
							</code>
						</pre>
					</div>
				</div>
				<!-- Medianfilter  -->
				<div id="medianfilter" class="space"></div>
				<div class="bs-docs-section">
					<h2>Median filter</h2>
					<p>
						Text about median filter
					</p>
					<div class="bs-example"><p>Median filter example</p></div>
					<div class="highlight">
						<pre>
							<code class="html">
								Median filter pseudocode
							</code>
						</pre>
					</div>
				</div>
				<!-- Gewichteter Medianfilter  -->
				<div id="gewmedianfilter" class="space"></div>
				<div class="bs-docs-section">
					<h2>Weighted median filter</h2>
					<p>
						Text about weighted median filter
					</p>
					<div class="bs-example"><p>Weighted median filter example</p></div>
					<div class="highlight">
						<pre>
							<code class="html">
								Weighted median filter pseudocode
							</code>
						</pre>
					</div>
				</div>
				<!-- Morphologische Filter  -->
				<div id="morphologischerfilter" class="space"></div>
				<div class="bs-docs-section">
					<h2>Morphological filter</h2>
					<p>
						Text about morphological filter
					</p>
					<div class="bs-example"><p>Morphological filter example</p></div>
					<div class="highlight">
						<pre>
							<code class="html">
								Morphological filter pseudocode
							</code>
						</pre>
					</div>
				</div>
				<!-- Regionalabeling  -->
				<div id="regionalabeling" class="space"></div>
				<div class="bs-docs-section">
					<h2>Region labeling</h2>
					<p>
						Text about region labeling
					</p>
					<div class="bs-example"><p>Region labeling example</p></div>
					<div class="highlight">
						<pre>
							<code class="html">
								Region labeling pseudocode
							</code>
						</pre>
					</div>
				</div>
				<!-- Harris Detektor  -->
				<div id="harrisdetektor" class="space"></div>
				<div class="bs-docs-section">
					<h2>Harris Detector</h2>
					<p>
						Text about Harris Detector
					</p>
					<div class="bs-example"><p>Harris Detector example</p></div>
					<div class="highlight">
						<pre>
							<code class="html">
								Harris Detector pseudocode
							</code>
						</pre>
					</div>
				</div>
			</div>
		</div>		
	</div>
	@footer
</div><!-- /container --> 
</html>
