@(scripts: Html)(navigation: Html)
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<style>
	body {
		position: relative;
		padding-top: 50px;
		padding-bottom: 20px;
		/*
		margin-left: 18% !important;
		margin-right: 18% !important;*/
		/* padding-left: 50px; */ 
		/* eigentlich muss Text unter IPimgproc logo sein*/
	}
	</style>
	@scripts
</head>
<body>
	@navigation
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="bs-sidebar" role="complementary">
					<ul class="nav bs-sidenav">
						<li>
							<a href="#histogram">Histogram</a> 
						</li>
						<li>
							<a href="#kumhistogram">Kumulatives Histogram</a> 
						</li>
						<li>
							<a href="#glaettungsfilter">Glättungsfilter</a> 
						</li>
						<li>
							<a href="#differenzfilter">Differenzfilter</a> 
						</li>
						<li>
							<a href="#minimumfilter">Minimumfilter</a> 
						</li>
						<li>
							<a href="#maximumfilter">Maximumfilter</a> 
						</li>
						<li>
							<a href="#medianfilter">Medianfilter</a> 
						</li>
						<li>
							<a href="#gewmedianfilter">Gewichteter Medianfilter</a> 
						</li>
						<li>
							<a href="#morphologischefilter">Morphologische Filter</a> 
						</li>
						<li>
							<a href="#regionalabeling">Regionalabeling</a> 
						</li>
						<li>
							<a href="#harrisdetektor">Harris Detektor</a> 
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-9" role="main">
				<!-- Histogram -->
				<div class="bs-docs-section">
					<div class="histogram">
						<h2 id="histogram">Histogram</h2>
					</div>
					<p>
						Text about histogram
					</p>
					<div class="bs-example"><p>histogram example</p></div>
					<div class="highlight">
						<pre>
							<code class="html">
								histogram pseudocode
							</code>
						</pre>
					</div>
				</div>
				<!-- Kumulatives Histogram -->
				<div class="bs-docs-section">
					<div class="kumhistogram">
						<h2 id="kumhistogram">Kumulatives Histogram</h2>
					</div>
					<p>
						Text about Kumulatives Histogram
					</p>
					<div class="bs-example"><p>Kumulatives Histogram example</p></div>
					<div class="highlight">
						<pre>
							<code class="html">
								Kumulatives Histogram pseudocode
							</code>
						</pre>
					</div>
				</div>
				<!-- Glättungsfilter -->
				<div class="bs-docs-section">
					<div class="glaettungsfilter">
						<h2 id="glaettungsfilter">Glättungsfilter</h2>
					</div>
					<p>
						Text about Glättungsfilter
					</p>
					<div class="bs-example"><p>Glättungsfilter example</p></div>
					<div class="highlight">
						<pre>
							<code class="html">
								Glättungsfilter pseudocode
							</code>
						</pre>
					</div>
				</div>
				<!-- Differenzfilter  -->
				<div class="bs-docs-section">
					<div class="differenzfilter">
						<h2 id="differenzfilter">Differenzfilter</h2>
					</div>
					<p>
						Text about Differenzfilter
					</p>
					<div class="bs-example"><p>Differenzfilter example</p></div>
					<div class="highlight">
						<pre>
							<code class="html">
								Differenzfilter pseudocode
							</code>
						</pre>
					</div>
				</div>
				<!-- Minimumfilter  -->
				<div class="bs-docs-section">
					<div class="minimumfilter">
						<h2 id="minimumfilter">Minimumfilter</h2>
					</div>
					<p>
						Text about Minimumfilter
					</p>
					<div class="bs-example"><p>Minimumfilter example</p></div>
					<div class="highlight">
						<pre>
							<code class="html">
								Minimumfilter pseudocode
							</code>
						</pre>
					</div>
				</div>
				<!-- Maximumfilter  -->
				<div class="bs-docs-section">
					<div class="maximumfilter">
						<h2 id="maximumfilter">Maximumfilter</h2>
					</div>
					<p>
						Text about Maximumfilter
					</p>
					<div class="bs-example"><p>Maximumfilter example</p></div>
					<div class="highlight">
						<pre>
							<code class="html">
								Maximumfilter pseudocode
							</code>
						</pre>
					</div>
				</div>
				<!-- Medianfilter  -->
				<div class="bs-docs-section">
					<div class="medianfilter">
						<h2 id="medianfilter">Medianfilter</h2>
					</div>
					<p>
						Text about Medianfilter
					</p>
					<div class="bs-example"><p>Medianfilter example</p></div>
					<div class="highlight">
						<pre>
							<code class="html">
								Medianfilter pseudocode
							</code>
						</pre>
					</div>
				</div>
				<!-- Gewichteter Medianfilter  -->
				<div class="bs-docs-section">
					<div class="gewmedianfilter">
						<h2 id="gewmedianfilter">Gewichteter Medianfilter</h2>
					</div>
					<p>
						Text about Gewichteter Medianfilter
					</p>
					<div class="bs-example"><p>Gewichteter Medianfilter example</p></div>
					<div class="highlight">
						<pre>
							<code class="html">
								Gewichteter Medianfilter pseudocode
							</code>
						</pre>
					</div>
				</div>
				<!-- Morphologische Filter  -->
				<div class="bs-docs-section">
					<div class="morphologischefilter">
						<h2 id="morphologischefilter">Morphologische Filter</h2>
					</div>
					<p>
						Text about Morphologische Filter
					</p>
					<div class="bs-example"><p>Morphologische Filter example</p></div>
					<div class="highlight">
						<pre>
							<code class="html">
								Morphologische Filter pseudocode
							</code>
						</pre>
					</div>
				</div>
				<!-- Regionalabeling  -->
				<div class="bs-docs-section">
					<div class="regionalabeling">
						<h2 id="regionalabeling">Regionalabeling</h2>
					</div>
					<p>
						Text about Regionalabeling
					</p>
					<div class="bs-example"><p>Regionalabeling example</p></div>
					<div class="highlight">
						<pre>
							<code class="html">
								Regionalabeling pseudocode
							</code>
						</pre>
					</div>
				</div>
				<!-- Harris Detektor  -->
				<div class="bs-docs-section">
					<div class="harrisdetektor">
						<h2 id="harrisdetektor">Harris Detektor</h2>
					</div>
					<p>
						Text about Harris Detektor
					</p>
					<div class="bs-example"><p>Harris Detektor example</p></div>
					<div class="highlight">
						<pre>
							<code class="html">
								Harris Detektor pseudocode
							</code>
						</pre>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr>
	
	<footer class="text-center">
		<p>&copy; 2014 by imgproc, All rights reserved</p>
	</footer>
</div> 
<!-- /container --> 
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js">
</script>
<script>
window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')
</script>
<script>
var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	g.src='//www.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
	</script>
</body>
</html>
