@(scripts: Html)(navigation: Html)(footer: Html)
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<style>
	body {
		position: relative;
		padding-top: 50px;
	}
	.active {
		font-weight: bold;
	}
	#footer {
		margin-top: 20px;
	}
	.space {
		padding-top: 60px;
	}
	</style>
	@scripts
</head>
<body data-spy="scroll" data-offset="90" data-target=".bs-sidebar">
	@navigation
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="bs-sidebar">
					<ul class="nav bs-sidenav">
						<li class="active">
							<a id="docHisto" href="#histogram">Histogram</a> 
						</li>
						<li>
							<a id="docKumHisto" href="#kumhistogram">Kumulatives Histogram</a> 
						</li>
						<li>
							<a id="docGlaett" href="#glaettungsfilter">Glättungsfilter</a> 
						</li>
						<li>
							<a id="docDiff" href="#differenzfilter">Differenzfilter</a> 
						</li>
						<li>
							<a id="docMin" href="#minimumfilter">Minimumfilter</a> 
						</li>
						<li>
							<a id="docMax" href="#maximumfilter">Maximumfilter</a> 
						</li>
						<li>
							<a id="docMed" href="#medianfilter">Medianfilter</a> 
						</li>
						<li>
							<a id="docGewMed" href="#gewmedianfilter">Gewichteter Medianfilter</a> 
						</li>
						<li>
							<a id="docMorph" href="#morphologischerfilter">Morphologische Filter</a> 
						</li>
						<li>
							<a id="docRegion" href="#regionalabeling">Regionalabeling</a> 
						</li>
						<li>
							<a id="docHarri" href="#harrisdetektor">Harris Detektor</a> 
						</li>
					</ul>
                    
				</div>
			</div>
			<div class="col-md-9" id="docu-content">
				<!-- Histogram -->
				<div id="histogram" class="space"></div>
				<div class="bs-docs-section">
					<h2>Histogram</h2>
					<p>
						Text about histogram
					</p>
					<div class="bs-example"><p>histogram example</p></div>
					<div class="highlight">
						<pre>
							<code class="html">
								histogram pseudocode
							</code>
						</pre>
					</div>
				</div>
				<!-- Kumulatives Histogram -->
				<div id="kumhistogram" class="space"></div>
				<div class="bs-docs-section">
					<h2>Kumulatives Histogram</h2>
					<p>
						Text about Kumulatives Histogram
					</p>
					<div class="bs-example"><p>Kumulatives Histogram example</p></div>
					<div class="highlight">
						<pre>
							<code class="html">
								Kumulatives Histogram pseudocode
							</code>
						</pre>
					</div>
				</div>
				<!-- Glättungsfilter -->
				<div id="glaettungsfilter" class="space"></div>
				<div class="bs-docs-section">
					<h2>Glättungsfilter</h2>
					<p>
						Text about Glättungsfilter
					</p>
					<div class="bs-example"><p>Glättungsfilter example</p></div>
					<div class="highlight">
						<pre>
							<code class="html">
								Glättungsfilter pseudocode
							</code>
						</pre>
					</div>
				</div>
				<!-- Differenzfilter  -->
				<div id="differenzfilter" class="space"></div>
				<div class="bs-docs-section">
					<h2>Differenzfilter</h2>
					<p>
						Text about Differenzfilter
					</p>
					<div class="bs-example"><p>Differenzfilter example</p></div>
					<div class="highlight">
						<pre>
							<code class="html">
								Differenzfilter pseudocode
							</code>
						</pre>
					</div>
				</div>
				<!-- Minimumfilter  -->
				<div id="minimumfilter" class="space"></div>
				<div class="bs-docs-section">
					<h2>Minimumfilter</h2>
					<p>
						Text about Minimumfilter
					</p>
					<div class="bs-example"><p>Minimumfilter example</p></div>
					<div class="highlight">
						<pre>
							<code class="html">
								Minimumfilter pseudocode
							</code>
						</pre>
					</div>
				</div>
				<!-- Maximumfilter  -->
				<div id="maximumfilter" class="space"></div>
				<div class="bs-docs-section">
					<h2>Maximumfilter</h2>
					<p>
						Text about Maximumfilter
					</p>
					<div class="bs-example"><p>Maximumfilter example</p></div>
					<div class="highlight">
						<pre>
							<code class="html">
								Maximumfilter pseudocode
							</code>
						</pre>
					</div>
				</div>
				<!-- Medianfilter  -->
				<div id="medianfilter" class="space"></div>
				<div class="bs-docs-section">
					<h2>Medianfilter</h2>
					<p>
						Text about Medianfilter
					</p>
					<div class="bs-example"><p>Medianfilter example</p></div>
					<div class="highlight">
						<pre>
							<code class="html">
								Medianfilter pseudocode
							</code>
						</pre>
					</div>
				</div>
				<!-- Gewichteter Medianfilter  -->
				<div id="gewmedianfilter" class="space"></div>
				<div class="bs-docs-section">
					<h2>Gewichteter Medianfilter</h2>
					<p>
						Text about Gewichteter Medianfilter
					</p>
					<div class="bs-example"><p>Gewichteter Medianfilter example</p></div>
					<div class="highlight">
						<pre>
							<code class="html">
								Gewichteter Medianfilter pseudocode
							</code>
						</pre>
					</div>
				</div>
				<!-- Morphologische Filter  -->
				<div id="morphologischerfilter" class="space"></div>
				<div class="bs-docs-section">
					<h2>Morphologische Filter</h2>
					<p>
						Text about Morphologische Filter
					</p>
					<div class="bs-example"><p>Morphologische Filter example</p></div>
					<div class="highlight">
						<pre>
							<code class="html">
								Morphologische Filter pseudocode
							</code>
						</pre>
					</div>
				</div>
				<!-- Regionalabeling  -->
				<div id="regionalabeling" class="space"></div>
				<div class="bs-docs-section">
					<h2>Regionalabeling</h2>
					<p>
						Text about Regionalabeling
					</p>
					<div class="bs-example"><p>Regionalabeling example</p></div>
					<div class="highlight">
						<pre>
							<code class="html">
								Regionalabeling pseudocode
							</code>
						</pre>
					</div>
				</div>
				<!-- Harris Detektor  -->
				<div id="harrisdetektor" class="space"></div>
				<div class="bs-docs-section">
					<h2>Harris Detektor</h2>
					<p>
						Text about Harris Detektor
					</p>
					<div class="bs-example"><p>Harris Detektor example</p></div>
					<div class="highlight">
						<pre>
							<code class="html">
								Harris Detektor pseudocode
							</code>
						</pre>
					</div>
				</div>
			</div>
		</div>		
	</div>
	@footer
</div><!-- /container --> 
</body>
</html>
