@(scripts: Html)(navigation: Html)(footer: Html)
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>imgproc - Welcome</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<style>
	body {
		padding-top: 50px;
	}
	.row p {
		font-size: 16px !important;
		line-height: 22px !important; 
	}
	h2 {
		font-size: 30px !important;
		font-weight: 200 !important;
		line-height: 1.0 !important;
	}
	</style>
	@scripts
</head>
<body>
	@navigation

	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="landing-jumbotron text-center">
		<div class="container">
			<h1>Learn image processing.</h1>
			<p>Upload images. Use Filters. Look how it works.</p>
			<p><a class="btn btn-custom btn-lg" href="processing">Try it now</a></p>
		</div>
	</div>

	<div class="container">
		<!-- Example row of columns -->
		<div class="row" style="margin-bottom: 80px;">
			<div class="col-lg-6">
				<h2>Upload Images</h2>
				<p>With imgproc you can take the first steps in image processing. First, go to the processing page. Here you can upload an image. After that it will be automatically converted into an 8-bit grayscale image and displayed on your page. On ride side you will be able to see the histogram.</p>
			</div>
			<div class="col-lg-6">
				<img class="thumbnail" src='@routes.Assets.at("images/upload.png")'/>		
			</div>
			</div>
			<div class="row" style="margin-bottom: 80px;">
				<div class="col-lg-6">
					<img class="thumbnail" src='@routes.Assets.at("images/use.png")'/>		
				</div>
				<div class="col-lg-6">
					<h2>Use Filters</h2>
					<p>After you've uploaded your image, you can use a variety of filters and processing operations. If the chosen filter requires a filter matrix, you have the option to specify a 3x3 filter matrix. After choosing the filter and specifying desired settings, just click on the apply button.</p>       
				</div>
			</div>
			<div class="row" style="margin-bottom: 80px;">
				<div class="col-lg-6">
					<h2>Look how it works</h2>
					<p>After you have finished with experimenting, you have the opportunity to learn how the filters work. You can have a look at filter descriptions and their pseudocode on the documentation page.
				</div>
				<div class="col-lg-6">
					<img class="thumbnail" src='@routes.Assets.at("images/look.png")'/>		
				</div>
			</div>
		</div>
		@footer
		
	</body>
	</html>
