@(scripts: Html)(navigation: Html)
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />	
	<meta http-equiv="Pragma-directive" content="no-cache" />
	<meta http-equiv="Cache-directive" content="no-cache" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>imgproc - Processing</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<style>
	body {
		padding-top: 50px;
	}
	.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
		background-color: #EBEBEB !important;
		border-color: #ADADAD !important;
		color: #2AB9CB !important;
	}    
	#footer {
		width: 100%;
		bottom: 0;
		position: absolute;
	}
	#img-content {
		margin-top: 30px;
	}
	#hist-content {
		margin-top: 30px;
	}
	
    canvas{
        width: 100% !important;
        max-width: 800px;
        height: auto !important;
    }
	</style>
	@scripts
</head>
<body>
	@navigation
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<div class="btn-group-vertical proc-navi">
					<form id="form_id" action="/processing/" method="POST" enctype="multipart/form-data">
						<div style='height: 0px;width:0px; overflow:hidden;'>
							<input id="upfile" type="file" name="picture">
						</div>
					</form>
					<button class="btn btn-default" id="upImg" type="button" onclick="getFile()">
						<span class="glyphicon glyphicon-upload"></span>
						Upload Image
					</button>
					<button class="btn btn-default" id="saveImg" type="button" onclick="saveImage()">
						<span class="glyphicon glyphicon-save"></span>
						Save Image
					</button>
					<button class="btn btn-default active" id="showImg" type="button">
						<span class="glyphicon glyphicon-signal"></span>
						Show Histogram
					</button>
					<hr>
					<button class="btn btn-default proc-button" id="glaett" type="button">Smoothing filter</button>
					<button class="btn btn-default proc-button" id="diff" type="button">Difference filter</button>
					<button class="btn btn-default proc-button" id="min" type="button">Minimum filter</button>
					<button class="btn btn-default proc-button" id="max" type="button">Maximum filter</button>
					<button class="btn btn-default proc-button" id="median" type="button">Median filter</button>
					<button class="btn btn-default proc-button" id="gewMedian" type="button">Weighted median filter</button>
					<button class="btn btn-default proc-button" id="morph" type="button">Morphological filter</button>
					<button class="btn btn-default proc-button" id="region" type="button">Region labeling</button>
					<button class="btn btn-default proc-button" id="harri" type="button">Harris Detector</button>
				</div>
			</div>
			<div id="img-content" class="col-md-7">				
			</div>
			<div id="hist-content" class="col-md-3">
				<canvas id="canvas" height="" width=""></canvas>
				
				<script>
				function showHistogram(filename) {
					var data = new Array(256);
					var array = new Array(256);
					
					$.ajax({
						type: "GET",
						url: "processing/" + filename,
						dataType: "json"
					}).done(function(jsonData) {
						for(i in jsonData) {
							data[i] = jsonData[i];
							array[i] = "";
						}
						
						var barChartData = {
							labels : array,
							datasets : [
							{
								fillColor : "rgba(220,220,220,0.5)",
								strokeColor : "rgba(220,220,220,1)",
								data : data
							}
							]
			
						}
						var options = {
				
							//Boolean - If we show the scale above the chart data			
							scaleOverlay : true,
	
							//Boolean - If we want to override with a hard coded scale
							scaleOverride : false,
	
							//** Required if scaleOverride is true **
							//Number - The number of steps in a hard coded scale
							scaleSteps : null,
							//Number - The value jump in the hard coded scale
							scaleStepWidth : null,
							//Number - The scale starting value
							scaleStartValue : null,

							//String - Colour of the scale line	
							scaleLineColor : "rgba(0,0,0,.1)",
	
							//Number - Pixel width of the scale line	
							scaleLineWidth : 1,

							//Boolean - Whether to show labels on the scale	
							scaleShowLabels : true,
	
							//Interpolated JS string - can access value
							scaleLabel : "<%=value%>",
	
							//String - Scale label font declaration for the scale label
							scaleFontFamily : "'Arial'",
	
							//Number - Scale label font size in pixels	
							scaleFontSize : 12,
	
							//String - Scale label font weight style	
							scaleFontStyle : "normal",
	
							//String - Scale label font colour	
							scaleFontColor : "#666",	
	
							///Boolean - Whether grid lines are shown across the chart
							scaleShowGridLines : true,
	
							//String - Colour of the grid lines
							scaleGridLineColor : "rgba(0,0,0,.05)",
	
							//Number - Width of the grid lines
							scaleGridLineWidth : 1,	

							//Boolean - If there is a stroke on each bar	
							barShowStroke : true,
	
							//Number - Pixel width of the bar stroke	
							barStrokeWidth : 2,
	
							//Number - Spacing between each of the X value sets
							barValueSpacing : 5,
	
							//Number - Spacing between data sets within X values
							barDatasetSpacing : 1,
	
							//Boolean - Whether to animate the chart
							animation : true,

							//Number - Number of animation steps
							animationSteps : 60,
	
							//String - Animation easing effect
							animationEasing : "easeOutQuart",

							//Function - Fires when the animation is complete
							onAnimationComplete : null
	
						}
						var myLine = new Chart(document.getElementById("canvas").getContext("2d")).Bar(barChartData, options);
						
					});
				}
				</script>
			</div>
		</div> <!-- /row -->
	</div>
</body>
</html>
