@(scripts: Html)(navigation: Html)(footer: Html)
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<style>
	body {
		padding-top: 50px;
	}    
	#footer {
		width: 100%;
		bottom: 0;
		position: absolute;
	}
	</style>
	@scripts
</head>
<body>
	@navigation
	<div class="container">
	
		<div class="row">
			<div class="col-md-3">
				<div class="bs-sidebar" role="complementary">
					<ul class="nav bs-sidenav">
						<li>
							<a href="#uploadImage">Upload Image</a> 
						</li>
						<li>
							<a href="#saveImage">Save Image</a> 
						</li>
						<li>
							<a href="#showHistogram">Show Histogram</a> 
						</li>
					</ul>
					<hr>
					<ul class="nav bs-sidenav" style="padding-top: 0px !important; margin-top: 0px !important;">
						<li>
							<a href="#glaettungsfilter">Glättungsfilter</a> 
						</li>
						<li>
							<a href="#differenzfilter">Differenzfilter</a> 
						</li>
						<li>
							<a href="#minimumfilter">Minimumfilter</a> 
						</li>
						<li>
							<a href="#maximumfilter">Maximumfilter</a> 
						</li>
						<li>
							<a href="#medianfilter">Medianfilter</a> 
						</li>
						<li>
							<a href="#gewmedianfilter">Gewichteter Medianfilter</a> 
						</li>
						<li>
							<a href="#morphologischefilter">Morphologische Filter</a> 
						</li>
						<li>
							<a href="#regionalabeling">Regionalabeling</a> 
						</li>
						<li>
							<a href="#harrisdetektor">Harris Detektor</a> 
						</li>
					</ul>
				</div>
			</div>
		</div> <!-- /row -->
	</div>
	@footer

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>


	<script>
	var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
		g.src='//www.google-analytics.com/ga.js';
		s.parentNode.insertBefore(g,s)}(document,'script'));
		</script>
	</body>
	</html>
